body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    background-image: url("../images/snart.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size:cover;
}
.container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
  
}
.middle{
    width: 400px;
    background-color: rgba(241, 13, 13, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-top: 5%; */
    /* height: 70%; */
    box-shadow: 2px 2px 8px #4e03fd85;
    border-radius: 15px;
}
.middle input{
    padding: 5px;
    margin-left: 2%;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid #ccc;
    color: white;
    width: 95%;
    position: relative;
}
.middle input:active{
    border: none;
    background-color: rgba(255, 255, 255, 0.685);

}
.middle i{
    position: relative;
    font-size: 15px;
    color: rgba(247, 238, 238, 0.5);
    
}
.form{
    width: 100%;

}
.form label{
    margin: 15px;
    color: rgba(255, 255, 255, 0.692);
}
.form i{
    position: relative;
    /* z-index: 1000000px; */
    left: 90%;
    top: -23px;
}
.middle button{
    width: 95%;
    padding: 5px;
    background-color: black;
    color: aquamarine;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
   
}
.middle button:active{
    transform: scale(0.8);
}
.middle button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.295);
    border: none;
}
.head{
    font-size: larger;
    font-weight: bold;
    color: aquamarine;
}
.btn{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.signmess{
    font-size: 20px;
    font-weight: 100px;
    margin-bottom: 5px;
}