.wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
.contianer{
    border: 1px solid;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
}
.header{
    border-bottom: 1px solid #ccc;
}
.theme_toggle{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.theme_toggle button{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: aqua;
    
}

.collect{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
}

.col button{
    padding: 5px;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.col input{
    padding: 5px;

}
.details{
    border-bottom: 1px solid #ccc;
}
.full_details{
    height: 150px;
    display: none;

}