body{
    margin: 0px;
    background-color: ;
}
.Header{
    font-size: 30px;
    color: blue;

}
.form{
    width: 500px;
    padding: 2px;

}
.form input{
    width: 100%;
    height: 25px;

}
.form p{
    font-size: 20px;
}
.form button{
    width: 100%;
    height: 30px;
    padding: 20px;
    margin-top: 15px;
    color: white;
    background-color: blue;
    justify-content: center;
    align-items: center 
    ;
}